:root {
  --highlight: #a9a9a9;
  --color-base: #444;
}

@font-face {
  font-family: Sarasa;
  src: url(font-sarasa.woff2) format("woff2");
}

body {
  margin: 40px auto;
  max-width: 640px;
  font-family: Sarasa;
  color: var(--color-base);
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  overflow: auto;
  scrollbar-width: none;
}

a {
  text-decoration: none;
}

li {
  margin: 6px 0;
}

.container {
}

.data {
}

.nav {
  margin-top: 48px;
  display: flex;
  justify-content: flex-end;
}

.nav-text {
  text-align: end;
}

.nav-text > a {
  color: darkgrey;
}

.nav-text > a:hover {
  color: var(--color-base);
}

.posts {
  display: flex;
  flex-direction: column;
}

.post-intro {
  margin: 24px 0;
}

.post-intro > .post-date,
.post-intro > .post-title {
  color: darkgrey;
}

.post {
  display: flex;
  margin: 6px 0;
}

.post-date {
  font-weight: 700;
  padding-right: 64px;
}

li > a,
.post > a {
  color: var(--color-base);
}

li > a:hover,
.post > a:hover {
  box-shadow: inset 0 -2px 0 var(--highlight);
}

.mode {
  position: absolute;
  width: 38px;
  height: 12px;
  background-color: white;
  right: 100px;
  top: 50px;
  cursor: pointer;
}
